body {
    background-color: #eaeaea;
}
h1 {
    text-align: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    text-decoration:underline solid rgb(0, 174, 255) ;
    text-underline-position: below;
    font-size: 45px;
    text-transform: uppercase;
}
a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color: brown;
    padding-inline: 7px;
}
h4 {
    color: #0080ff;
    font-size: 25px;
    margin: 20px 30px;
    display: block;


}
ul,OL {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    font-size: 16px;
}


img {
    display: block;
  margin-left: auto;
  margin-right: auto;
} 

.txt {
    line-height: 1.5;
    padding: 25px 50px;
    font-size: 20px;
}
#hello {
    font-weight: bold;
    line-height: 1.9;

}
div {
    background-color: #ffffff;
    margin: 25px 18px;
    display:block;
    padding: 10px;

}
#TXE {
    
}