h1 {
    color:  #101820;
    background-color: #FEE715;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 50px;
    text-align: center;
}
h5 {
    font-family: monospace;
    font-size: 20px;
    text-align: left;
    color: #F96167;
    background-color: #F9E795;
    

}